/* ----------------------------------------------------------- */
/* Small devices are treated as default (landscape phones, 576px - ~748px)
/* ----------------------------------------------------------- */

/* @media only screen and (max-width: 748px) { */
#vidOverlay,
.frontvid {
	display: none;
}
/* } */

/*---Using this as a lense or filter that fits its parent div and only taints the things beneath--- */
.overlay {
	min-height: 100%;
	max-height: 100%;
	min-width: 100%;
	max-width: 100%;
	position: absolute;
}

/* ----------------------------------------------------------- */
/* Root elements or otherwise most regular elements and take */
/* are of broadest and most shared rules first */
/* ----------------------------------------------------------- */

.frontPage {
	margin: none;
	align-content: center;
	text-align: center;
	overflow-x: hidden;
}

h1,
h2 {
	/* justify: center; */
	font-family: "Alegreya Sans SC";
	color: rgb(255, 255, 255);
	text-shadow: 50px 10px 50px rgb(0, 153, 224);
	font-weight: 900;
	font-size: 3em;
	letter-spacing: 15px;
	z-index: 1;
}

.greeting {
	font-size: 6em;
}

/*The name of the App should be special and consistent*/
.nomad {
	text-shadow: 5px 5px 50px navy;
	text-shadow: 30px 30px 30px 50px black;
	font-family: "Alegreya Sans SC";
	color: white;
	font-size: 6em;
}

#homeHeader {
	justify-items: center;
	height: 300px;
	/* background-position: center; */
	opacity: 0.5;
	background-image: url("../images/nomadhero.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* height: 100%; */
	position: relative;
}

#indexHeader {
	justify-items: center;
	/* height: 500px; */
	/* opacity: 0.5; */
	background-image: url("../images/nomadhero.jpg");
	/* background-size: 100%; */
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* height: 100%; */
	position: relative;
	z-index: 0;
}

/* originally used as 'overlay', but holds mysterious bootstrap properties */
/* .jumbotron1 {
	justify-content: center;
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.1;
	background-color: transparent;
	background-color: rgba(0, 0, 200, 0.109);
	vertical-align: center;
	padding-top: 100px;
	z-index: -1;
} */

.responsiveGreetingContainer,
.homeNomadContainer {
	display: flex;
	justify: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	/* height: 100%; */
}

.form-group,
.card label {
	/* line-height: 1; */
	font-size: 1.5em;
	font-family: "alegreya sans";
}

.card-header {
	font-family: "alegreya sans SC";
	font-size: 2em;
}

/* ----------------------------------------------------------- */
/* Make un-clicked links blue and visited ones purple */
/* ----------------------------------------------------------- */
a:link {
	text-decoration: blue;
}

a:visited {
	color: darkmagenta;
}

/* ----------------------------------------------------------- */
/* Form & results scroll-bar and container for results */
/* ----------------------------------------------------------- */
.scrollStyle {
	max-height: 905px;
	overflow-y: scroll;
}

/* squeezing in the form and results */
.container {
	width: 80%;
}

/* ----------------------------------------------------------- */
/* Buttons */
/* There was a button named "Get Started", but it proved to be redundant */
/* But an artist's creations never die, only sleep... */
/* ----------------------------------------------------------- */

.buttonWrapper {
	/* border: 2px solid black; <-(to see boundaries) */
	background-color: transparent;
	text-align: center;
}

.normalButtonTheme {
	border: 2px solid black;
	height: 80px;
	width: 180px;
	text-align: center;
	display: inline-block;
	text-align: center;
	font-family: "alegreya sans SC";
	font-size: 2em;
	text-shadow: 1px 1px 1px white;
	box-shadow: 5px 0px 40px rgb(0, 0, 0);
	background-color: transparent;
}

.frontvid-button {
	/* border: 2px solid black; <-(unclear if necessary) */
	font-size: 2em;
	background-color: rgba(220, 220, 250, 0.3);
	display: none;
}

/* ----------------------------------------------------------- */
/* For tablet eyes only (~748px - ~994px) */
/* ----------------------------------------------------------- */

@media only screen and (min-width: 748px) {
	.frontvid {
		/* height: 140%; */
		/* display: inline-block; */
		position: relative;
		min-width: 100%;
		align-self: center;
		top: 0;
	}
	#firebaseui-auth-container {
		position: static;
		top: 100px;
	}

	#vidOverlay,
	.frontvid {
		display: none;
	}
}

/* ----------------------------------------------------------- */
/* Everything that pertains to the stock-footage background video, */
/* which is only to be displayed on large screens (994px +) */
/* ----------------------------------------------------------- */

@media screen and (min-width: 994px) {
	#indexHeader,
	#homeHeader,
	#headerOverlay,
	.jumbotron1 {
		display: none;
	}
	.frontvid {
		position: absolute;
		top: 0px;
		text-align: center;
		left: 0px;
		right: 0px;
	}
	.frontvid-container1 {
		/* display: flex;
		flex-direction: column; */
		height: 110%;
		width: 100%;
		max-width: 100%;
		justify: center;
	}
	#vid-itself {
		height: 100%;
		min-width: 100%;
		max-width: 160%;
	}

	.frontvid-container2 {
		position: absolute;
		display: flex;
		flex-direction: column;
		text-align: center;
		/* padding-top: 100px; */
		/* left: 40%; */
	}
}

/* ________TABLET________ */

#headerOverlay,
#headerOverlay-home {
	background-color: rgba(19, 19, 95, 0.438);
}

/* possibly change color */
#vidOverlay {
	background-color: rgba(230, 232, 253, 0.671);
}

#firebaseui-auth-container {
	/* position: absolute; */
	/* padding: 400px; */
	margin-top: 430px;
	align: center;
	margin-left: 25%;
	margin-right: 25%;
}

.firebaseui-idp-list > li,
.firebaseui-card-footer {
	/* #firebaseui-auth-container { */
	/* visibility: none; */
	/* opacity: 0; */
	margin-top: 30px;
	-webkit-transition: height auto 4s, opacity 1, visibility visible,
		padding-top 50px;
	transition-duration: 3s;
	transition-timing-function: ease;
}

.firebaseui-idp-list > li.reveal,
.firebaseui-card-footer.reveal {
	/* #firebaseui-auth-container { */
	height: auto;
	opacity: 1;
	visibility: visible;
	margin-top: 450px;
	padding-top: 50px;
}

/* ________Saving this for the Nomad animation whereby it swoops in as "Now" but the w flips as the "a" and "d" are added_________ */
/* @keyframe revealSignIn {

} */
/* } */
