/* Small devices (landscape phones, 576px and up) */


h1 {
	font-family: "Alegreya Sans SC";
	color: navy;
	font-weight: 900;
	font-size: 3em;
	letter-spacing: 50px;
	vertical-align: center;
}
.jumbotron {
	height: 200px;
	background-image: url()
	border-radius: 25px;
	vertical-align: center;
}
